 <% if current_user %>
<% flash.each do |type,msg| %>
    <div class="alert alert-success">
        <%= msg %>
    </div>
<% end %>
<% end %>
<div class="c">
<% if @topics.length > 0 %>
<%  @topics.each do |topic| %> 
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"> <%= topic.name %></div>
  <div class="card-footer bg-transparent border-success">
  <% if current_user == topic.user_id  %>
   <%= link_to '',"topics/#{topic.id}" , :class => "btn btn-light fa fa-eye" %>
    <%= link_to '',"topics/#{topic.id}/edit", :class => "btn btn-light fa fa-pencil" %> 
    <%= link_to 'X', "topics/#{topic.id}", 
                                       method: :delete,
                                      data: {confirm: "Are you sure?"}, 
                                      :class => "btn btn-danger" %> 
    <% else %>
    <%= link_to '',user_projects_path(@project.user_id) + "/#{topic.project_id}/topics/#{topic.id}" , :class => "btn btn-light fa fa-eye" %>
    <%= link_to '',"topics/#{topic.id}/edit", :class => "btn btn-light fa fa-pencil" %> 
    <%= link_to '', "topics/#{topic.id}", 
                                       method: :delete,
                                      data: {confirm: "Are you sure?"}, 
                                      :class => "btn btn-danger fa fa-trash" %> 
    <% end %>
  </div>
</div>
<% end  %>
<% else %>
  <h1 class="display-2">No Threads created Yet</h1>
  
<% end %>
</div>
<% if current_user %>
<%= link_to '', "/users/#{current_user.id}/projects",  :class => 'btn btn-outline-info btn-sm  fa fa-arrow-left' %>
<% else %>
<%= link_to '', shared_projects_path,  :class => 'btn btn-outline-info btn-sm  fa fa-arrow-left' %>
<% end %>