<% flash.each do |type,msg| %>
    <div class="alert alert-success alert-dismissible fade show">
        <%= msg %>
    </div>
<% end %>
<div class="pd">
<div class="project">
<div class="img"> 
  <% @project.image.each do |image| %>
          <% if (["application/pdf","application/vnd.ms-excel","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/msword","application/vnd.openxmlformats-officedocument.wordprocessingml.document","text/plain",'text/csv'].include?(image.content_type)) %>
              <h5><%= image.filename %></h5>
              <%= link_to "Open File", image, :class => "btn btn-sm btn-light", "target" => "_blank" %>
          <% else %>
              <%= image_tag image %>
              <%= link_to '', "/projects/#{@project.id}/image/#{image.id}", method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger fa fa-trash bf" %> 
          <% end %>   
  <% end %>
</div>
<div class="card" style="width: 40rem;">
  <%# <img src="https://www.enr.com/ext/resources/custom-content/Infocenter/2018/Unanet/Untitled-19.jpg?1575391866" class="card-img-top" alt="project"> %>
 
  <div class="card-body">
    <h5 class="card-title"><%= @project.name %></h5>
    <p class="card-text"><%= @project.details %></p>
    <p class="text-muted">Created <%= time_ago_in_words(@project.created_at) %> ago</p>
  </div>
</div>
<%= link_to 'Back', "/users/#{current_user.id}/projects",  :class => 'btn btn-outline-info btn-sm bt' %>
</div>